@import url("../../App.css");

.button {
  cursor: pointer;
  color: var(--purple-background);
  background-color: var(--purple-light);
  font-size: 40px;
  transition: 0.3s;
  padding: 10px 23px;
  border-radius: 50%;
}

.button:hover {
  background-color: var(--purple-dark);
}

.button:active {
  transform: scale(0.9);
}
