@import url("../../App.css");

.main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
}

.modal {
  padding: 5.5rem 2rem;
  color: #000;
  background-color: #fff;
}

.modal h3,
.buttons {
  background-color: #fff;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 1rem 2rem;
}

.onCancel {
  background-color: var(--red);
  transition: 0.3s;
}

.onCancel:hover {
  background-color: var(--red-dark);
}

.onConfirm {
  background-color: var(--green);
  transition: 0.3s;
}

.onConfirm:hover {
  background-color: var(--green-dark);
}
